body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
figure,
div,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.iconfont {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  font: 14px "微软雅黑", Arial;
  color: #40485b;
}

input {
  outline: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

#root {
  width: 100%;
  height: 100%;
}